{% extends 'base.html' %}
{% block  content %}
    {% if error %}
        <p class=error><strong>Произошла ошибка:</strong> {{ error }}</p>
    {% endif %}
    <form method="post" action="/login" class="form">
        <p>Введите пароль</p>
        <label for="exampleInputPassword1" class="form-label">Пароль</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
        <input type="submit" value="OK" class="btn btn-success btn-lg">
    </form>


{% endblock %}